<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Pet Generator </title>
    <style>
        body {
            text-align: center;
            font-family: cursive;
        }
        button {
            font-family: cursive;
            font-size: 200%;
            padding: 10px 50px;
            border: 4mm ridge rgb(96 125 139 / 69%);
            background: #9e9e9e73;
        }
        figcaption{
            font-size: 200%;

        }
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
    <script>



        function setPet() {
            // Get the data from the api
            fetch('/api')
                .then(function(response) {
                    return response.json()
                })
                .then(function(data) {
                    const image = document.getElementById("pet-image")

                    image.src = data.image
                    image.alt = data.imageAlt
                    document.getElementById("pet-info").textContent = data.info

                    return console.log(data)
                });
        }
    </script>
</head>
<body>
<h1>Random Pet Generator</h1>

<figure>
    <img id="pet-image" >

    <figcaption id="pet-info">

    </figcaption>
    <script>
        setPet()


    </script>
</figure>

<button onclick="setPet()">
    Another!
</button>
</body>

</html>
